/* .swiper-container {
    width: 100%;
    padding-bottom: 30px; 
  }
   */
  .swiper-pagination-bullet {
    width: 16px !important;
    height: 4px !important;
    border-radius: 5px !important;
    margin: 0 6px !important;
  }

  .swiper-pagination-bullet-active {
    background: #1D4ED8 !important;
  }
  .review-slide {
    display: flex;
    align-items: stretch;
  }
  
  .review-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
